@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
* {
  margin: 0;
  padding: 0;
}

/* --- Шрифты ---*/
h1 {
  font-size: 36px;
}

h2 {
  font-size: 22px;
}

p, a {
  font-size: 14px;
  text-decoration: none;
  text-align: justify;
}

h1, h2, p, a, button {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 600;
  color: #222;
  line-height: 200%;
}

/* --- Шрифты ---*/
/* --- Кнопки ---*/
button {
  padding: 10px 20px;
  background: #425E72;
  color: #fff;
  border: 0;
  cursor: pointer;
}

button:hover {
  background: #fff;
  color: #222;
  border: 1px #222 solid;
  padding: 9px 19px;
}

/* --- Кнопки ---*/
.hr-1 {
  border: 1px solid #222222;
  width: 242px;
}

.hr-2 {
  border: 1px solid #222222;
  height: 242px;
  width: 0px;
}

/* --- Шапка ---*/
header > nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 30px 90px 200px 90px;
}
header > nav > ul > li {
  margin-left: 30%;
  margin-right: 30%;
}
header > nav > ul > div {
  display: flex;
}
header > nav > ul > div > a:nth-child(1), header > nav > ul a:nth-child(2), header > nav > ul a:nth-child(3) {
  margin-right: 55px;
  height: 40px;
}
header > nav > ul > button {
  background: none;
  border: none;
}

/* --- Шапка ---*/
/* --- Контент ---*/
.container {
  max-width: 1740px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 200px;
}

footer {
  display: flex;
  align-items: center;
  background: url(../img/footer-back.svg);
  height: 484px;
  width: 100%;
}
footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
footer > div > div {
  display: flex;
  flex-direction: column;
}
footer > div > div > a, footer > div > div p, footer > div > div h2 {
  color: #fff;
  margin-bottom: 20px;
}
footer > div > div:nth-child(3) > a, footer > div > div:nth-child(3) p {
  text-align: right;
}

.big-home {
  display: flex;
  align-items: center;
}
.big-home > h1 {
  width: 362px;
}

.plus {
  display: flex;
  width: 1440px;
  justify-content: space-between;
}
.plus > div {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
.plus > div > div {
  margin-left: 20px;
}
.plus > div > div > h2 {
  padding-bottom: 20px;
}
.plus > div:nth-child(3) > div, .plus > div:nth-child(3) h2, .plus > div:nth-child(3) p {
  width: 330px;
}

.block {
  display: flex;
}
.block > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 420px;
  padding-right: 240px;
  padding-left: 240px;
}
.block > div > h2 {
  text-align: center;
  margin-bottom: 20px;
}
.block > div > p {
  margin-top: 20px;
  width: 420px;
}
.block > div > button {
  margin-top: 20px;
}
.block > div > button:hover {
  background: #fff;
  color: #222;
  border: 1px #222 solid;
  padding: 9px 19px;
}
.block > div > div {
  margin-top: 20px;
}
.block > div > div > div {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.block > div > div > div > p {
  width: 340px;
  margin-left: 20px;
}

.modal {
  position: absolute;
  z-index: 2; /* 1 */
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.modal.is-visible {
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
  position: absolute;
  z-index: 3;
  top: 6em;
  margin-left: 40%;
  background-color: #fff;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}

#content-1, #content-2 {
  margin-top: 40px;
}
#content-1 > form, #content-2 > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#content-1 > form > h2, #content-2 > form > h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
#content-1 > form > hr, #content-2 > form > hr {
  margin-bottom: 20px;
}
#content-1 > form > input, #content-2 > form > input {
  width: 250px;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid #222;
  padding-left: 10px;
  color: #222;
}
#content-1 > form > input > select, #content-2 > form > input > select {
  border: 2px solid #fff;
  width: 500px;
  height: 40px;
}
#content-1 > form > div > fieldset, #content-2 > form > div > fieldset {
  width: 236px;
}
#content-1 > form > div > fieldset > input, #content-2 > form > div > fieldset > input {
  width: 150px;
}

.tabs {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.tabs > label {
  vertical-align: middle;
  height: 48px;
  text-align: center;
}
.tabs > label > p {
  padding: 10px;
  text-align: center;
}

#button-pop:hover {
  background: #fff;
  color: #222;
  border: 1px #222 solid;
  height: 46px;
}

.zabil {
  color: #425E72;
}

.tabs > input[type=radio] {
  display: none;
}

.ili {
  margin-top: 20px;
}

.tabs > div {
  /* скрыть контент по умолчанию */
  display: none;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2 {
  display: block;
}

.tabs > label {
  display: inline-block;
  text-align: center;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  background: #fff;
  width: 200px;
  height: 48px;
  border: 1px #222 solid;
}

.tabs > label:nth-child(4) {
  margin-left: -8px;
}

.tabs > input[type=radio]:checked + label {
  background: #425E72;
  border: 1px #425E72 solid;
}
.tabs > input[type=radio]:checked + label > p {
  color: #fff;
}

.tabes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.tabes > div {
  display: flex;
  flex-direction: column;
}
.tabes > div > div {
  display: flex;
  align-items: center;
  height: 195px;
  margin-bottom: 74px;
}
.tabes > div > div > img {
  width: 420px;
  height: 195px;
}
.tabes > div > div > hr {
  height: 186px;
}
.tabes > div > div > * {
  margin-right: 20px;
}
.tabes > div > div > a {
  background: #425E72;
  color: #fff;
  border: 0;
  cursor: pointer;
  width: 137px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabes > div > div > a:hover {
  background: #fff;
  color: #222;
  border: 1px #222 solid;
  height: 46px;
  width: 135px;
}

.tabes label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #425E72;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabes label > h1 {
  color: #fff;
}

.tabes .tab {
  order: 99;
  flex-grow: 1;
  display: none;
  margin-top: 74px;
  background: #fff;
}

.tabes input[type=radio] {
  display: none;
}

.tabes input[type=radio]:checked + label {
  background: #fff;
  border: 1px #222 solid;
}
.tabes input[type=radio]:checked + label > h1 {
  color: #222;
}

#button-pop {
  display: flex;
  background: #425E72;
  border: 0;
  cursor: pointer;
  width: 265px;
  height: 48px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.tabes input[type=radio]:checked + label + .tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

#kartochka {
  width: 640px;
  padding-left: 0;
}
#kartochka > p {
  width: 640px;
}
#kartochka > div > button {
  margin-right: 20px;
}
#kartochka > div > button:hover {
  background: #fff;
  color: #222;
  border: 1px #222 solid;
  padding: 9px 19px;
  cursor: pointer;
  background: #fff;
}

.adminka {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
}

.admin-tools {
  max-width: 1180px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.admin-tools > div > h2 {
  margin-bottom: 10px;
}
.admin-tools > div > form > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.admin-tools > div > form > div > input, .admin-tools > div > form > div textarea, .admin-tools > div > form > div select {
  width: 200px;
  height: 28px;
  border: 1px solid var(--2, #425E72);
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  padding-left: 10px;
  resize: none;
}
.admin-tools > div > form > div > textarea {
  padding-top: 4px;
  height: 48px;
}
.admin-tools > div > form > div > label {
  color: #222222;
  width: 140px;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
}
.admin-tools > div > form > input {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 200%;
  padding: 10px 20px;
  background: #425E72;
  color: #fff;
  border: 0;
  width: 100%;
  cursor: pointer;
}
.admin-tools > div > form > input:hover {
  color: #222;
  border: 1px #222 solid;
  padding: 9px 19px;
  background: #fff;
}
.admin-tools > div > div:nth-child(3), .admin-tools > div div:nth-child(4), .admin-tools > div div:nth-child(5) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.admin-tools > div > div:nth-child(3) > div, .admin-tools > div div:nth-child(4) > div, .admin-tools > div div:nth-child(5) > div {
  margin-bottom: 40px;
}
.admin-tools > div > div:nth-child(3) > div > p, .admin-tools > div div:nth-child(4) > div > p, .admin-tools > div div:nth-child(5) > div > p {
  height: 100px;
  padding: 20px;
  align-items: center;
  gap: 32px;
  border: 1px solid var(--2, #425E72);
  width: 300px;
}
.admin-tools > div > div:nth-child(3) > div > button, .admin-tools > div div:nth-child(4) > div > button, .admin-tools > div div:nth-child(5) > div > button {
  width: 342px;
}

#productList, #AgentsList, #result, #DealsList, #DistrictList, #RoomsList, #UsersList, #TypeList, #StatusList, #ClientsList {
  color: #222222;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  min-height: 50px;
  border: 1px #222 solid;
  padding: 10px 20px;
}
#productList > ul > li, #AgentsList > ul > li, #result > ul > li, #DealsList > ul > li, #DistrictList > ul > li, #RoomsList > ul > li, #UsersList > ul > li, #TypeList > ul > li, #StatusList > ul > li, #ClientsList > ul > li {
  list-style: none;
}

.product-card {
  display: flex;
  gap: 240px;
}
.product-card > div {
  display: flex;
  width: 420px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.product-card > div > p {
  width: 419px;
}

.favorit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1004px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.favorit > img {
  width: 420px;
  height: 195px;
}

.kod > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  height: 100px;
}
.kod > form > input {
  width: 298px;
  height: 28px;
  border: 1px solid var(--2, #425E72);
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
}
.kod > form > label {
  color: #222222;
  width: 300px;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
}
.kod > form > input:nth-child(3) {
  background-color: #425E72;
  color: #fff;
  width: 300px;
}

@media (min-width: 481px) and (max-width: 1487px) {
  header > nav > ul > li {
    margin: 0;
    display: none;
  }
  .big-home > img {
    display: none;
  }
  .plus {
    flex-direction: column;
    margin-left: 20%;
  }
  .plus > div {
    margin-top: 20px;
  }
  .block > div {
    padding: 0;
  }
  .block > img {
    display: none;
  }
  .container > img {
    display: none;
  }
  footer > div {
    padding: 20px;
  }
  .modal-wrapper {
    margin-left: 25%;
  }
  .tab > div > img {
    display: none;
  }
  .tab > div > hr {
    display: none;
  }
}
@media (max-width: 480px) {
  header > nav > ul > li {
    margin: 0;
    display: none;
  }
  .big-home > img {
    display: none;
  }
  .plus {
    flex-direction: column;
  }
  .plus > div {
    margin-top: 40px;
    margin-right: 0;
  }
  .plus > div > img, .plus > div hr {
    display: none;
  }
  .block > div {
    padding: 0;
  }
  .block > img {
    display: none;
  }
  .container > img {
    display: none;
  }
  footer > div {
    padding: 20px;
  }
  footer > div > a {
    display: none;
  }
  .modal-wrapper {
    margin-left: 8%;
  }
  .tab > div > img {
    display: none;
  }
  .tab > div {
    flex-wrap: wrap;
  }
  .tab > div hr {
    display: none;
  }
}
.error-main {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errors {
  background-color: #222;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  z-index: 100;
}

.cart {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #364364;
  transition: 0.1s;
  cursor: pointer;
  position: fixed; /* Фиксированное расположение */
  top: 50px; /* в правом верхнем углу */
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 15px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=style.css.map */